.shia-do-it {
  position: fixed;
  bottom: 0;
  z-index: 99999;
  left: 0;
  width: 100%; /* Fills the entire width */
  height: 100vh; /* Fills 100% viewport height */
  pointer-events: none;
}

.shia-do-it .container {
  width: auto; /* Allow container to adjust to video size */
  overflow: hidden; /* Clip overflowing content */
  display: block;
}

.shia-do-it .container video {
  margin-top: 0; /* Remove margin-top */
  width: 100%; /* Fills container width */
  height: auto; /* Maintains aspect ratio */
  /* Other styles... */
}
